@use "../abstracts" as *;

.loader {
  font-size: 3em;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "ClashDisplay";
  font-weight: 900;
  background-color: $clr-primary-100;
  color: $clr-white;

  .loaderText {
    .loaderTextCharacter {
      position: relative;
    }
  }

  .loaderWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    @include size-fit-parent;
    display: grid;
    place-content: center;

    #loaderSpinningText {
      position: absolute;
      font-size: 0.8em;
      font-weight: 500;
      left: 50%;
      top: 50%;
      animation: spinningTextAnimation 20s infinite linear;
    }
  }
}

@keyframes spinningTextAnimation {
  from {
    transform: translate(-50%, -50%) rotateZ(-360deg);
  }

  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
